/**DOCUMENTO GENERAL DE ESTILOS**/

header{
    background-color: #5E85FF;
}

header h1{
    width: 100%;
    color: white;
    padding: 20px 0;
    text-align: center;
}

main{
    background-color: whitesmoke;
}

main .menu{

    padding: 40px 15%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

}

main .menu .menuInput{

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;

}

main .menu .menuInput .inputContainer{

    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

main .menu .menuInput .inputContainer label{

    flex-grow: 1;

}

main .menu .menuInput .inputContainer input{

    width: 80%;

}

main .menu .menuBotones{

    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

main .menu .menuBotones button{

    margin: 10px;

}

main .librosContainer{

    width: 100%;
    padding: 20px 10%;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}

